body {
    font-family: sans-serif; 
    background-color: #c2c2c2; 
    color: aliceblue; 
    text-align: center;
    }
h1 {
    color: gray;
    border-style: groove;
    border-radius: 50px;
    font-size: 40px;

}
h3 {
    color: teal
}
a.backtoallcategories{
    padding: 5px;
    border: 2px solid gray;
}