<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    </head>
            
    <body>
        <h1> Edit {{i.name}} </h1>

        <form action = "{{ url_for('editCategoryItem', categories_id = 
        categories_id, item_id = i.id)}} " method = 'POST'>

            <p>Name:</p>
                <input type='text' size='30' name='name' placeholder = '{{i.name}}'>
                
            <p>Description</p>
                <input type='text' size='100' name='Description' placeholder = '{{i.description}}'>
        </br></br>    
            <input type='submit' value = 'Submit'>

            <a href='{{url_for('showCategoryItem', items_id = i.id, categories_id = i.category_id)}}'> Cancel </a> 
    </br></br></br>
    <a class="backtoall" href='{{url_for('gdisconnect')}}'> Click to logout </a> 


        </form>
    </body>
</html>