<html>
    <body>
        <h1> Edit {{items.name}} </h1>

        <form action = "#" method = 'post'>

            <p>Name:</p>
                <input type='text' size='30' name='name' placeholder = '{{items.name}}'>
                
            <p>Description</p>
                <input type='text' size='100' name='Description' placeholder = '{{items.description}}'>

            <p>Category</p>
            <select>
                    <option value="category">{{category.name}}</option>

                  </select>

        </br></br>    
            <input type='submit' value = 'Submit'>
            

            <a href='#'> Cancel </a>

        </form>
    </body>
</html>