<html>
    <body>
        <h1>{{ category.name }}</h1> 

            <a href='{{url_for('createCategoryItem', categories_id = category.id)}}'> Create New {{ category.name }} Item </a>
    <div>
        <h2>Current Items for {{category.name}}:</h2>
                {% for i in items %}
                        {{i.name}}</br>
                        {{i.description}}</br>
                    
                        <a href='{{url_for('editCategoryItem', categories_id = category.id, item_id = i.id)}}'> Edit </a> 
                            </br>    
                        <a href='{{url_for('deleteCategoryItem', categories_id = category.id, item_id = i.id)}}'> Delete </a> 
                            </br>    
                            </br>   
                {% endfor %}
    </div>      
    </body>
</html>