<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    </head>
            
    <body>
        <h1>{{ items.name }}</h1> 
        Description: {{items.description}}
    </br></br></br>


    <a href='{{url_for('editCategoryItem', categories_id = category.id, 
    item_id = items.id)}}'> Edit </a> 
</br>    
    
    <a href='{{url_for('deleteCategoryItem', categories_id = category.id, 
    item_id = items.id)}}'> Delete </a> 

</br></br>   

    <a class="box" href='{{url_for('showCategoryItem', categories_id = 
    category.id)}}'> Back to all items </a> 

</br></br></br>
<a class="box" href='{{url_for('CategorySingleItemJSON', categories_id = category.id, item_id = items.id)}}'> Click to see JSON endpoint for {{ items.name }}</a>

</br></br></br>

    <a class="box" href='{{url_for('showLogin')}}'> Click to login </a> 

    </body>
</html>